:root {
  --brown: rgb(53, 39, 30);
  --brown-dim: rgb(53, 39, 30, .7);
  --lightgrey: #999;
  --darkgrey: #666;
  --background: #ccc;
  --glow: rgb(202, 168, 0);
}

html {
  background: var(--background);
  color: var(--brown);
}

a { color: cornflowerblue }

/* body {
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 1rem;
} */

section g {
  fill: var(--lightgrey);
  stroke: var(--lightgrey);
}

section g.vf-stave, g.vf-clef, .vf-timesignature, .vf-stavebarline {
  fill: var(--darkgrey);
  stroke: var(--darkgrey);
}

#output .vf-stavenote, .vf-stavenote path {
  fill: var(--brown);
  stroke: var(--brown);
}

input, h2 span {
  text-transform: capitalize;
  z-index: 10;
}
input {
  appearance: none; /* Remove default styling on WebKit */
  -webkit-appearance: none; /* Remove default styling on WebKit */
  -moz-appearance: none; /* Remove default styling on Firefox */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  background: none; /* Remove background */
  box-shadow: none; /* Remove box shadow */
  outline: none; /* Remove outline */
  border-bottom: 1pt solid var(--brown);
  padding-top: .5rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: .2em;
  padding: 0 .5rem;
  margin-left: -.5rem;
}
.accidentals {
  font-size: 1.5em;
  margin-top: -.15rem;
  opacity: .92;
}
.accidentals button:nth-of-type(2) {
  padding-right: .54rem;
}

button:hover {
  text-shadow: .5pt .5pt 4pt var(--glow);
}

#output svg, 
#output .vf-stave, #output .vf-stavebarline,
#output .vf-stavenote:nth-of-type(odd) {
  display: none;
}

#output svg:first-of-type {
  display: block;
}

#output svg, #template svg {
  transform-origin: top left;
  top: 0; left: 0;
  transform: scale(1.5) translate(.17rem,9.191rem);
  max-width: 100vw;
  max-height: 100vy;

}

#template, #output {
  position: absolute;
  top: 0; left: 0;
  z-index: -2;
}

#output {
  z-index: -1;
}

#output svg {
  transform: scale(1.5) translate(.17rem,1.691rem);
    /* debugging */
  /* background: #f001;  */
}



/* #output .vf-stavenote:nth-of-type(even) > path , #output .vf-stavenote:nth-of-type(even) > .vf-notehead{
  filter: drop-shadow( 0 0 .5pt var(--background));
} */

.underline {
  text-decoration: underline;
  text-decoration-color: var(--brown-dim);
}

h2 {color: var(--brown-dim)}
h2 span {color: var(--brown)}


#markdown {
  /* display: none; */
  z-index: 3;
  background: var(--background);
  opacity: .96;
  position: fixed;
  max-width: 40em;
  top: 1em; right: 1rem;
  padding: 0 1rem;
}

#markdown-button {
  position: fixed;
  display: block;
  top: .5em; right: .5em;
  z-index: 10;
}