:root {
  --brown: rgb(53, 39, 30);
  --lightgrey: #999;
  --darkgrey: #666;
  --background: #ccc;
}

html {
  background: var(--background);
  color: var(--brown);
}

a { color: cornflowerblue }

/* body {
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 1rem;
} */

section g {
  fill: var(--lightgrey);
  stroke: var(--lightgrey);
}

section g.vf-stave, g.vf-clef, .vf-timesignature, .vf-stavebarline {
  fill: var(--darkgrey);
  stroke: var(--darkgrey);
}

#output .vf-stavenote, .vf-stavenote path {
  fill: var(--brown);
  stroke: var(--brown);
}

input, h2 span {
  text-transform: capitalize;
  z-index: 10;
}
input {
  appearance: none; /* Remove default styling on WebKit */
  -webkit-appearance: none; /* Remove default styling on WebKit */
  -moz-appearance: none; /* Remove default styling on Firefox */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  background: none; /* Remove background */
  box-shadow: none; /* Remove box shadow */
  outline: none; /* Remove outline */
  border-bottom: 1pt solid var(--brown);
}

#output svg,
#output .vf-stavenote:nth-of-type(odd) {
  display: none;
}

#output svg:first-of-type {
  display: block;
}

#output svg {
  transform: scale(1.5) translate(-.5rem, -5rem);
  transform-origin: top left;
  z-index: -12;
}

#output svg {
  /* debugging */
  /* background: #f001; */ 
  z-index: -1;
  position: relative;
}